# PlanAhead Generated physical constraints
NET "clk50mhz" LOC = P56;
 

NET "reset" LOC = P121;
NET "hsync" LOC = P21;
NET "vsync" LOC =P16;

NET "color[5]" LOC = P94;
NET "color[4]" LOC = P92;
NET "color[3]" LOC = P101; 
NET "color[2]" LOC = P97;
NET "color[1]" LOC = P111;
NET "color[0]" LOC = P104;

NET "left[0]" LOC =P80;
NET "right[0]" LOC =P81;
NET "shot[0]" LOC = P83;
NET "up[0]" LOC = P82;

NET "left[1]" LOC =P6;
NET "right[1]" LOC =P2;
NET "shot[1]" LOC = P5;
NET "up[1]" LOC = P1;

NET "sound" LOC= P78;